h1 {
    text-align: center;
}

.content {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.btn {
    margin-left: 5px;
}